<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='imagenes/favicon.ico') }}"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suite Junior</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <a id="idlogo" href="{{ url_for('index') }}"><div class="logo">Hotel Paradise</div></a><!--Agregue esto para que se devolviera a la pagina de inicio-->
    
        <nav>
            <a class="menu" href="{{ url_for('habitaciones') }}">habitaciones</a>
            {% if session.get('usuario_id') %}
                <a href="{{ url_for('reservas') }}">Mis reservas</a>
            {% else %}
                <a href="javascript:void(0)" onclick="abrirLogin()">Mis reservas</a>
            {% endif %}
        </nav>
    </header>

    <div class="contenedor">

        <!-- para ubicar la imagen y texto la ventana -->
        <div class="izquierda">
            <img src="{{ url_for('static', filename='imagenes/suite.jpg') }}">

            <div class="info">
                <div class="titulo">
                    <h2>Habitación Suite Junior</h2>
                    <span class="precio">$1.000.000</span>
                </div>

                <div class="caracteristicas">
                    <span>👥 3 personas</span>
                    <span>50 m²</span>
                </div>

                <p class="descripcion">
                    Suite de lujo con sala de estar separada y dormitorio privado.
                </p>
            </div>
        </div>

        <!-- formulario para confirmar datos de reserva -->
        <div class="reserva">
            <h3>Reservar Suite Junior</h3>

            <form action="{{ url_for('confirmar_reserva') }}" method="POST">
                <input type="hidden" name="habitacion" value="Habitación Suite Junior">
                <input type="int" name="id" placeholder="Identificacion sin puntos" required>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" required>

                <label>Fecha de entrada</label>
                <input type="date" id="entrada" name="entrada" required>

                <label>Fecha de salida</label>
                <input type="date" id="salida" name="salida" required>

                <input type="number" id="huespedes" name="huespedes" placeholder="Número de huéspedes" required>

                <button type="submit">Confirmar reserva</button>
            </form>    

        </div>

    </div>

</body>
<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h3>Hotel Paradise</h3>
            <p>Disfruta del mejor servicio y comodidad.</p>
        </div>

        <div class="footer-section">
            <h4>Enlaces</h4>
            <ul>
                <li><a id="idlogo" href="{{ url_for('index') }}"><div class="logo">Inicio</div></a></li>
                <li><a id="idlogo" href="{{ url_for('habitaciones') }}"><div class="logo">Habitaciones</div></a></li>
                <li><a id="idlogo" href="{{ url_for('reservas') }}"><div class="logo">reservas</div></a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contacto</h4>
            <p>
                Email:
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@hotel.com" target="_blank">
                        info@hotel.com
                    </a>
            </p>
            <p>
                Tel: 
                    <a href="https://wa.me/573000000000" target="_blank">
                        +57 300 000 0000
                    </a>
            </p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 Hotel Paradise - Todos los derechos reservados</p>
    </div>
</footer>

<script src="script.js"></script>

</html>
