<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suite Presidencial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <div class="logo">🏨 Hotel Paradise</div>
        <nav>
            <a class="menu" href="{{ url_for('habitaciones') }}">habitaciones</a>
            <a href="{{ url_for('reservas') }}">Mis reservas</a>
        </nav>
    </header>

    <div class="contenedor">


        <div class="izquierda">
            <img src="{{ url_for('static', filename='imagenes/presidencial.jpg') }}">

            <div class="info">
                <div class="titulo">
                    <h2>Habitación Presidencial</h2>
                    <span class="precio">$2.000.000</span>
                </div>

                <div class="caracteristicas">
                    <span>👥 4 personas</span>
                    <span>120 m²</span>
                </div>

                <p class="descripcion">
                    La experiencia lujosa con vista panoramica de 360 grados. 
                    incluye dos dormitorios, comedor privado...
                </p>
            </div>
        </div>

        <!-- DERECHA -->
        <div class="reserva">
            <h3>Reservar habitación Presidencial</h3>

            <form action="{{ url_for('confirmar_reserva') }}" method="POST">
                <input type="hidden" name="habitacion" value="Habitación presidencial">
                <input type="int" name="id" placeholder="Identificacion sin puntos" required>
                <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <input type="tel" id="telefono" name="telefono" placeholder="Teléfono" required>

                <label>Fecha de entrada</label>
                <input type="date" id="entrada" name="entrada" required>

                <label>Fecha de salida</label>
                <input type="date" id="salida" name="salida" required>

                <input type="number" id="huespedes" name="huespedes" placeholder="Número de huéspedes" required>

                <button type="submit">Confirmar reserva</button>
            </form>
        </div>

    </div>

</body>

<script src="script.js"></script>

</html>
