<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{{ url_for('static', filename='imagenes/favicon.png') }}"> <!--este el el icono que va en la parte de las pestaña -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Paradise</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 

</head>

<body>
    <header>
        
        <div id="google_translate_element" style="display:none;"></div><!--este boton se usa para incluir la api de google translate-->
        <div class="logo">Hotel Paradise</div>
        <nav>            
            {% if session.get('usuario_id') %}
                <a href="{{ url_for('reservas') }}">Mis reservas</a>
            {% else %}
                <a href="javascript:void(0)" onclick="abrirLogin()">Mis reservas</a>
            {% endif %}            
        </nav>
    </header>    
    <section class="inicio">        
        <section class="hero">
            <div class="overlay">
                <img src="https://images.unsplash.com/photo-1445019980597-93fa8acb246c?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aG90ZWx8ZW58MHx8MHx8fDA%3D">
            </div>
            <div class="hero-content">
                <h1 class="title">Bienvenido a hotel Paradise</h1>
                    <div class="search-bar">
                        <input type="text" placeholder="Location">
                        <input type="date">
                        <input type="date">

                        <select>
                            <option>Guests</option>
                            <option>1 Guest</option>
                            <option>2 Guests</option>
                            <option>3 Guests</option>
                        </select>

                        <button>Checkout</button>

                    </div>
            </div>
        </section>       

    <section class="habitaciones">

        <h2>Nuestras habitaciones</h2>
        <p>4 habitaciones disponibles</p>

        <div class="contenedor-habitaciones">
            <!--habitacion 1-->
            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/estandar.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Habitación estándar</h3>
                        <span class="precio">$350.000</span>
                    </div>

                    <p class="descripcion">
                        Una cómoda habitación con todas las comodidades básicas
                        para una estancia agradable. Perfecta para viajeros
                    </p>

                    <div class="caracteristicas">
                        <span>2 personas</span>
                        <span>25 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_estandar') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>

            <!--habitacion 2-->
            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/deluxe.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Habitación Deluxe</h3>
                        <span class="precio">$600.000</span>
                    </div>

                    <p class="descripcion">
                        Espaciosa habitación con vista panorámica y 
                        mobiliario de alta calidad.
                    </p>

                    <div class="caracteristicas">
                        <span>2 personas</span>
                        <span>35 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_deluxe') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>

            <!--habitacion 3-->
            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/suite.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Suite Junior</h3>
                        <span class="precio">$1.000.000</span>
                    </div>

                    <p class="descripcion">
                        Suite de lujo con sala de estar separada y dormitorio privado.
                    </p>

                    <div class="caracteristicas">
                        <span>3 personas</span>
                        <span>50 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_suite') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>

            <!--habitacion 4-->

            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/presidencial.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Suite Presidencial</h3>
                        <span class="precio">$2.000.000</span>
                    </div>

                    <p class="descripcion">
                        La experiencia lujosa con vista panoramica de 360 grados. 
                        incluye dos dormitorios, comedor privado...
                    </p>

                    <div class="caracteristicas">
                        <span>4 personas</span>
                        <span>120 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_presidencial') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>


        </div>


    </section>
    </section> <!--fin del section inicio-->
   
</body>
<footer class="footer">
    <div class="footer-container">

        <div class="footer-section">
            <h3>Hotel Paradise</h3>
            <p>Disfruta del mejor servicio y comodidad.</p>
        </div>

        <div class="footer-section">
            <h4>Enlaces</h4>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Habitaciones</a></li>
                <li><a href="#">Reservas</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Contacto</h4>
            <p>Email: info@hotel.com</p>
            <p>Tel: +57 300 000 0000</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>&copy; 2026 Hotel Paradise - Todos los derechos reservados</p>
    </div>
</footer>
<!---login emergente-->
    <div id="modalLogin" class="modal">
        <div class="modal-contenido login-card">
            <span class="cerrar" onclick="cerrarLogin()">&times;</span>
            <h2>Bienvenido</h2>
            <p>Inicia sesión en tu cuenta</p>

            <form action="{{ url_for('login_huesped') }}" method="POST">
                <div class="input-group">
                    <label>Correo electrónico</label>
                    <input type="email" name="email" placeholder="tu@ejemplo.com" required>
                </div>
                
                <div class="input-group">
                    <label>Contraseña</label>
                    <input type="password" name="cedula" placeholder="Tu número de cédula" required>
                </div>

                <button type="submit" class="btn-login">Iniciar sesión</button>
            </form>
        </div>
    </div>

<script>function abrirLogin() {
    document.getElementById('modalLogin').style.display = 'flex';
        }
        function cerrarLogin() {
            document.getElementById('modalLogin').style.display = 'none';
        }

</script>

</html>