<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <header>

        <div class="logo">🏨 Hotel Paradise</div>
        <nav>
            <a class="menu" href="{{ url_for('habitaciones') }}">habitaciones</a>
            {% if session.get('usuario_id') %}
                <a href="{{ url_for('reservas') }}">Mis reservas</a>
            {% else %}
                <a href="javascript:void(0)" onclick="abrirLogin()">Mis reservas</a>
            {% endif %}
        </nav>
    </header>    
        
    <section class="inicio">
        <h1>Bienvenido al Hotel Paradise </h1>
        <p>Experimenta el lujo y la comoddidad en nuestras habitaciones<br></p>
        <p>cuidadosamente diseñadas</p>
    </section>

    <section class="busqueda">
        
        <div class="campo">
            <label>Buscar</label>
            <input type="text" placeholder="Buscar habitaciones">
        </div>

    <div class="campo">
        <label>Tipos de habitaciones</label>
        <select>
            <option>Todos los Tipos</option>
            <option>Estandar</option>
            <option>Deluxe</option>
            <option>Suite</option>
            <option>Presidencial</option>
        </select>
    </div>

    <div class="campo">
        <label>Ordenar por</label>
        <select>
            <option>Precio: Menor a mayor</option>
            <option>Precio: Mayor a menor</option>
        </select>
    </div>

    </section>


    <section class="habitaciones">

        <h2>Nuestras habitaciones</h2>
        <p>4 habitaciones disponibles</p>

        <div class="contenedor-habitaciones">
            <!--habitacion 1-->
            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/estandar.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Habitación estándar</h3>
                        <span class="precio">$350.000</span>
                    </div>

                    <p class="descripcion">
                        Una cómoda habitación con todas las comodidades básicas
                        para una estancia agradable. Perfecta para viajeros
                    </p>

                    <div class="caracteristicas">
                        <span>2 personas</span>
                        <span>25 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_estandar') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>

            <!--habitacion 2-->
            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/deluxe.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Habitación Deluxe</h3>
                        <span class="precio">$600.000</span>
                    </div>

                    <p class="descripcion">
                        Espaciosa habitación con vista panorámica y 
                        mobiliario de alta calidad.
                    </p>

                    <div class="caracteristicas">
                        <span>2 personas</span>
                        <span>35 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_deluxe') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>

            <!--habitacion 3-->
            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/suite.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Suite Junior</h3>
                        <span class="precio">$1.000.000</span>
                    </div>

                    <p class="descripcion">
                        Suite de lujo con sala de estar separada y dormitorio privado.
                    </p>

                    <div class="caracteristicas">
                        <span>3 personas</span>
                        <span>50 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_suite') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>

            <!--habitacion 4-->

            <div class="card">
                <div class="imagen">
                    <img src="{{ url_for('static', filename='imagenes/presidencial.jpg') }}">
                    <span class="Disponible">Disponible</span>
                </div>

                <div class="info">
                    <div class="titulo-precio">
                        <h3>Suite Presidencial</h3>
                        <span class="precio">$2.000.000</span>
                    </div>

                    <p class="descripcion">
                        La experiencia lujosa con vista panoramica de 360 grados. 
                        incluye dos dormitorios, comedor privado...
                    </p>

                    <div class="caracteristicas">
                        <span>4 personas</span>
                        <span>120 m²</span>
                    </div>

                    <a href="{{ url_for('detalle_presidencial') }}">
                    <button>Ver detalle</button>
                    </a>
                </div>
            </div>


        </div>


    </section>


<!---login emergente-->
    <div id="modalLogin" class="modal">
        <div class="modal-contenido login-card">
            <span class="cerrar" onclick="cerrarLogin()">&times;</span>
            <h2>Bienvenido</h2>
            <p>Inicia sesión en tu cuenta</p>

            <form action="{{ url_for('login_huesped') }}" method="POST">
                <div class="input-group">
                    <label>Correo electrónico</label>
                    <input type="email" name="email" placeholder="tu@ejemplo.com" required>
                </div>
                
                <div class="input-group">
                    <label>Contraseña</label>
                    <input type="password" name="cedula" placeholder="Tu número de cédula" required>
                </div>

                <button type="submit" class="btn-login">Iniciar sesión</button>
            </form>
        </div>
    </div>
    <script>function abrirLogin() {
        document.getElementById('modalLogin').style.display = 'flex';
        }
        
        function cerrarLogin() {
            document.getElementById('modalLogin').style.display = 'none';
        }

</script>


</body>
<footer>


</footer>

</html>